.main {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100vw;
    color: #79aea3;
    margin: 0px;
    padding: 0px;
}

.liens {
    margin-right: 20px;
    text-align: end;
}

.rs {
    display: flex;
    justify-content: space-around;
}

.logofb {
    height: 40px;
}

.logoin {
    height: 40px;
}

.logoinsta {
    height: 42px;
    margin-left: 5px;
}

.logotwitter {
    height: 42px;
    margin-left: 5px;
}

.qvt {
    margin-left: 10px;
}
