.container {
    border-bottom: #79aea3 5px solid;
    margin: 20px;
    font-size: 20px;
}

.messageenvoye {
    font-style: italic;
    margin-bottom: 15px;
    font-weight: 400;
}

.label {
    font-weight: bold;
    margin-bottom: 15px;
}

.question {
    font-weight: 400;
}

.date {
    font-weight: 400;
    margin-left: 5px;
}

.labeldate {
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
}