.profilSection {
    padding: 10;
    display: flex;
    justify-content: flex-start;
}

.infoDiv {
    /* border: solid 5px pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoName {
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}

.info {
    margin: 10px;
    font-size: 20px;
}

.iconContainer {
    /* border: solid 5px red; */
    margin: 10px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.iconContainer .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    margin: 10px;
    position: right;
}

.iconContainer:hover .tooltiptext {
    visibility: visible;
}


.modal {
    border-radius: 10px;
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 430px;
}

.overlay {
    position: absolute;
    top: 400px;
    right: 100px;
    background-color: #f0f0f0;
}

.inputContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    height: 40%;
}

.closeButtonDiv {
    height: "10px";
    width: "10px";
}


.input {
    padding: 5px;
    height: 85%;
    width: 75%;
    font-size: 16;
    border-radius: 10px;
}

.button {
    position: center;
    height: 85%;
    width: 15%;
    border-radius: 10px;
    margin: 10px;
    color: #f0f0f0;
    background-color: #79aea3;
    font-weight: "600";
    font-size: 15;
}