.questions {
    display: flex;
    flex-direction: column;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button {
    height: 60px;
    width: 250px;
    padding: 10px;
    font-size: 17px;
    font-weight: 550;
    border-radius: 20px;
    color: #79aea3;
    background-color: #f0f0f0;
    border: 5px, solid, #79aea3;
}